{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}
    <h1>Modifier Catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('category_index') }}"><i class="fas fa-undo-alt"></i></a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
