{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Nouveau commentaire</h1>

    {{ include('remark/_form.html.twig') }}

    {# <a href="{{ path('remark_index') }}">Retour à la liste</a> #}
{% endblock %}
