{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouvelle Article{% endblock %}

{% block body %}
    <h1>Nouvelle Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}"><i class="fas fa-undo-alt"></i></a>
{% endblock %}
