{% extends 'baseAdmin.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <h1>Modification Utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('user_index') }}"><i class="fas fa-undo-alt"></i></a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
